<div class="container">
  <div class="row">
    <div class="col"><h3>Mission Statement</h3></div>
  </div>
  <div class="row">
    <div class="col-md-6 frc-box-one">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni error,
        quisquam cumque minima, ut molestiae voluptate explicabo quam obcaecati
        repudiandae, quas numquam ex corporis voluptatum fuga harum. Nam officia
        asperiores autem minus blanditiis! Ipsam eius iusto adipisci voluptatem
        repudiandae fugit?
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, tempora
        et est ad molestiae ipsa qui aliquid vitae expedita aperiam. Fugit
        labore molestiae delectus, quam magni voluptatum, illo commodi adipisci
        voluptates eveniet neque sequi excepturi sunt officia, odio velit
        ducimus culpa ea ratione soluta veniam exercitationem? Minus aut minima
        commodi.
      </p>
    </div>
  </div>
</div>
