<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col text-box">
        <h2>Sub Committees</h2>
        <h2><i class="bi bi-dash-lg"></i></h2>
        <p>and their aims</p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-4"
        *ngFor="let committee of committeeList; let id = index"
      >
        <div class="committee-info" *ngIf="id % 2 === 0; else imageBlock">
          <i class="bi {{ committee.icon }}"></i>
          <h3>{{ committee.heading }}</h3>
          <p>{{ committee.description }}</p>
        </div>

        <ng-template #imageBlock>
          <div class="committee-image">
            <img
              src="../../../assets/images/{{ committee.image }}.jpg"
              alt="{{ committee.imageDescription }}"
              class="img-fluid"
            />
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
