<app-top-banner>
  <h1 class="top-banner-h1">Classes and Groups</h1>
  <img
    src="../../../assets/images/happy-people.jpg"
    alt="senior citizens talking"
    class="img-fluid top-banner-grey"
  />
  <!-- Photo by Brooke Cagle @ unsplash
   -->
  <p>Community associated groups and classes</p>
</app-top-banner>

<!--  -->

<app-serve-banner>
  <h2>Classes Available</h2>
  <p>A range of classes and supports are available to all the community</p>
  <h4>Here to help</h4>
  <div p1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nesciunt
    vel, et quia deserunt explicabo quo fugit esse necessitatibus, aliquid modi
    laborum dolor maiores dignissimos perferendis consequatur sint. Consequatur,
    reprehenderit dicta! Commodi modi culpa, necessitatibus quidem, maxime
    architecto quas eos earum iusto aliquid mollitia ea ullam veritatis quasi
    assumenda numquam.
  </div>
  <div p2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis
    molestiae quibusdam ex! Doloremque autem impedit explicabo, similique
    temporibus quis ipsam corrupti eos optio accusantium rem, quas reprehenderit
    laborum eligendi odio?
  </div>
</app-serve-banner>

<!--  -->

<app-classes-display></app-classes-display>
