<app-top-banner>
  <h1 class="top-banner-h1">About The Centre</h1>
  <img
    src="../../../assets/images/interior.jpg"
    alt="office interior"
    class="img-fluid top-banner-grey"
  />
  <!-- Photo by Nastuh Abootalebi @ unsplash
   -->
  <p>And the people who run it</p>
</app-top-banner>

<!--  -->

<app-about-centre></app-about-centre>
<app-about-info></app-about-info>
<app-about-team></app-about-team>
<app-about-committee></app-about-committee>

<!--  -->

<app-info-banner>
  <p>
    For more information please contact the Centre Manager on Tel: 087 1234567
    or Office Manager on Tel: 066 7199999
  </p>
  <h4>There is a lot going on at the FRC.</h4>
  <h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam minima
    omnis delectus necessitatibus ratione sapiente ut amet. Reprehenderit,
    beatae temporibus!
  </h2>
</app-info-banner>
