<app-top-banner>
  <h1 class="top-banner-h1">Services Provided</h1>
  <img
    src="../../../assets/images/hands.jpg"
    alt="hands joined together"
    class="img-fluid top-banner-grey"
  />
  <!-- Photo by Hannah Busing
   -->
  <p>Services we currently offer the community</p>
</app-top-banner>

<!--  -->

<app-serve-banner>
  <h2>Services Available</h2>
  <p>A range of services and supports are available to all the community</p>
  <h4>Here to help</h4>
  <div p1>
    They can also avail of our laundry service including pre-arranged collection
    and drop off if required. Most importantly this service offers an
    opportunity for social interaction and mental and physical stimulation. For
    the older people in our community and beyond their visit to the Centre each
    week can be a lifeline, something to look forward to.
  </div>
  <div p2>
    Social interaction is recognised as crucial to the well-being and health of
    the elderly. Our laundry, DIY service, hairdresser and chiropodist help in a
    practical way to make life a little easier and less stressful. This service
    is supported by funding from the HSE.
  </div>
</app-serve-banner>

<!--  -->

<app-resources-display></app-resources-display>
