<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="img-fluid">
        <img src="../../../assets/images/hands.jpg" alt="joined hands" />
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h3>About the Centre</h3>
        <h4>FRC is at the heart of the community and serves the public.</h4>
        <p>
          The Centre comprises a large multi-purpose hall, meeting rooms,
          kitchen, laundry, DIY & grass cutting service, a day-care Centre for
          senior citizens and FRC Childcare. Located The ARC we have an
          AstroTurf , phase 1 of a planned multi-phase community sports
          facility. We also manage and maintain the Fair Green. We receive
          funding from the HSE to run our Senior Citizens day-care service. We
          are grateful for the grants received from Pobal, Dept. of Tourism and
          Sport, NEWKD and Kerry County Council. These grants have allowed us to
          improve our facilities and services.
        </p>
      </div>
    </div>
  </div>
</div>
