<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Who we are</h3>
      <h4>FRC is operated by Faketown Community Council CLG</h4>
      <p>
        A not for profit company limited by guarantee and a registered charity.
        FRC is supported and part funded by the Government.
      </p>
      <p>
        Our company’s registered number with the Companies Registration Office
        (CRO) is ######. Our charity number with the Charities Regulator is
        #####.
      </p>
      <p>
        Any adult in the community can become a member of the company at any
        time on the payment of a nominal fee. Membership is publicised and
        invited annually in advance of the AGM.
      </p>
    </div>
    <div class="col-md-6">
      <p>
        A voluntary management committee is elected annually at the AGM from
        among the members. The committee takes responsibility for the strategic
        management of the Centre in the interests of the community at large.
      </p>
      <p>
        The committee members are listed as directors with the CRO. Our
        management committee consists of the following positions and personnel:
      </p>
      <h5>Management Committee:</h5>
      <ul *ngFor="let person of managementPersonel">
        <li>
          <span>{{ person.position }} - </span>{{ person.name }}
        </li>
      </ul>
      <h5>Centre Management Team:</h5>
      <ul *ngFor="let person of centrePersonel">
        <li>
          <span>{{ person.position }} - </span>{{ person.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
