@import "../../../styles/base/typography";
@import "../../../styles/helpers/variables";

form {
  width: 70%;
  margin: 0 auto;
  font-family: inherit;
}

.form-floating {
  margin-bottom: 1rem;
}

input,
textarea,
option,
select {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 3px $color-blue;
  margin: 10px;
}

@media screen and (max-width: 690px) {
  form {
    width: 90%;
  }
  .btn-custom-primary {
    width: 100%;
  }
}
