<app-top-banner>
  <h1 class="top-banner-h1">Rental Facilities</h1>
  <img
    src="../../../assets/images/pitch.jpg"
    alt="soccer goal posts"
    class="img-fluid top-banner-grey"
  />
  <p>List of rentable facilities for the community</p>
</app-top-banner>

<!--  -->

<app-serve-banner>
  <h2>Facilities Available</h2>
  <p>A range faccilities are available for rent to all the community</p>
  <h4>Rental Terms</h4>
  <div p1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nesciunt
    vel, et quia deserunt explicabo quo fugit esse necessitatibus, aliquid modi
    laborum dolor maiores dignissimos perferendis consequatur sint. Consequatur,
    reprehenderit dicta! Commodi modi culpa, necessitatibus quidem, maxime
    architecto quas eos earum iusto aliquid mollitia ea ullam veritatis quasi
    assumenda numquam.
  </div>
  <div p2>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis
    molestiae quibusdam ex! Doloremque autem impedit explicabo, similique
    temporibus quis ipsam corrupti eos optio accusantium rem, quas reprehenderit
    laborum eligendi odio?
  </div>
</app-serve-banner>

<!--  -->

<app-facilities-display></app-facilities-display>
