@import "../../../styles/helpers/variables";

span {
  color: $color-blue;
}

li,
.schedule-box > p,
h3 {
  font-weight: bold;
  margin-top: 2rem;
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-column {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .button-column {
    flex-direction: column;
    align-items: center;
  }

  button.btn-custom-primary {
    margin-bottom: 10px;
  }
}
