<app-top-banner>
  <h1 class="top-banner-h1">{{ chosenClass.name }}</h1>
  <img
    src="{{ chosenClass.image }}"
    alt="{{ chosenClass.name }}"
    class="img-fluid top-banner-grey"
  />
  <!-- <p>{{ chosenClass.description }}</p> -->
</app-top-banner>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>{{ chosenClass.description }}</p>
      <div class="schedule-box">
        <p><span>Class:</span> {{ chosenClass.name }}</p>
        <p><span>Day:</span> {{ chosenClass.day }}</p>
        <p><span>Time:</span> {{ chosenClass.time }}</p>
      </div>
    </div>
    <div class="col-md-9">
      <p>
        {{ chosenClass.longDescription }}
      </p>
      <h3>Goals</h3>
      <ul *ngFor="let goal of classGoals">
        <li>{{ goal }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col button-column">
      <button
        class="btn-custom-primary"
        (click)="toPreviousClass()"
        [disabled]="disablePrevButton"
      >
        <i class="bi bi-caret-left"></i>Prev
      </button>
      <button
        class="btn-custom-primary"
        (click)="toNextClass()"
        [disabled]="disableNextButton"
      >
        Next<i class="bi bi-caret-right"></i>
      </button>
    </div>
  </div>
</div>

<app-info-banner>
  <p>
    For more information please contact the {{ chosenClass.name }} Manager on
    Tel: 087 1234567 or Office Manager on Tel: 066 7199999
  </p>
  <h4>Classes for everyone at the FRC.</h4>
  <h2>
    {{ chosenClass.name }} class hours are {{ chosenClass.time }}, Contact the
    art manager to book your space.
  </h2>
</app-info-banner>
