<app-top-banner>
  <h1 class="top-banner-h1">{{ chosenClass.name }}</h1>
  <img
    src="{{ chosenClass.image }}"
    alt="{{ chosenClass.name }}"
    class="img-fluid top-banner-grey"
  />
  <!-- <p>{{ chosenClass.description }}</p> -->
</app-top-banner>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>{{ chosenClass.description }}</p>
      <div class="schedule-box">
        <p><span>Class:</span> {{ chosenClass.name }}</p>
        <p><span>Day:</span> {{ chosenClass.day }}</p>
        <p><span>Time:</span> {{ chosenClass.time }}</p>
      </div>
    </div>
    <div class="col-md-9">
      <p>
        {{ chosenClass.longDescription }}
      </p>
      <h3>Goals</h3>
      <ul *ngFor="let goal of classGoals">
        <li>{{ goal }}</li>
      </ul>
    </div>
  </div>
</div>

<!-- {{ chosenClass.name }}


public name: string,
    public description: string,
    public day: string,
    public time: string,
    public goal: string[],
    public image: string -->
