<div class="container">
  <div class="row">
    <div class="col-md-6 order-md-2">
      <div class="img-fluid">
        <img
          src="../../../assets/images/teacher2.png"
          alt="a parent holding a childs hand"
        />
      </div>
    </div>
    <div class="col-md-6 order-md-1">
      <div>
        <h3>FRC Childcare</h3>
        <h4>
          FRC Childcare comprises a crèche, pre-school & after school club!
        </h4>
        <p>
          We are committed to providing an early care and education service of
          the highest standard. We are registered with Tusla – The Child and
          Family Agency. Little Voyagers Childcare is designed with young
          children in mind and is compliant with all current regulations. We are
          a fire safety approved, fully insured premises. The service is
          completely secure and entry is restricted
        </p>
        <div class="button-container">
          <button class="btn-custom-primary" (click)="toChildcare()">
            FRC Childcare
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
