<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <p><i class="bi bi-house"></i> FRC</p>
    </div>
    <div class="col-md-3">
      <p>&copy; Fake FRC - 2022. All rights reserved.</p>
    </div>
    <div class="col-md-3">
      <p>
        <a href="tel:0667199999"><i class="bi bi-telephone"></i></a>
        066-71-99999
      </p>
    </div>
    <div class="col-md-3">
      <p>
        <a href="mailto:fakefrc@frc.ie"><i class="bi bi-envelope"></i></a>
        fakefrc@frc.ie
      </p>
    </div>
  </div>
</div>
