@import "../../../styles/helpers/variables";

.container-fluid {
  background-color: $color-lightgreen;
  color: $color-white;
}

img {
  height: 100px;
}

.row {
  padding: 30px 0px;
}

i {
  color: $color-blue;
}

p {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
}
