<app-top-banner>
  <h1 class="top-banner-h1">Senior Citizens</h1>
  <img
    src="../../../assets/images/senior-citizens.jpg"
    alt="senior citizens talking"
    class="img-fluid top-banner-grey"
  />
  <!-- Photo by <a href="https://unsplash.com/@vladsargu?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vlad Sargu</a> on <a href="https://unsplash.com/s/photos/senior-citizens?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   -->
  <p>new senior citizens are welcome</p>
</app-top-banner>
<p>seniors-layout works!</p>
<app-seniors-benefits></app-seniors-benefits>
<app-info-banner>
  <p>
    For more information please contact the Centre Manager on Tel: 087 1234567
    or Office Manager on Tel: 066 7112345
  </p>
  <h4>A group of dedicated volunteers from our surrounding areas</h4>
  <h2>
    Senior Citizens Committee offer a day care service every Tuesday from 10am -
    2pm.
  </h2>
</app-info-banner>
