<app-top-banner>
  <h1>Senior Citizens</h1>
  <img
    src="../../../assets/images/senior-citizens.jpg"
    alt="senior citizens talking"
    class="img-fluid"
  />
  <!-- Photo by <a href="https://unsplash.com/@vladsargu?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vlad Sargu</a> on <a href="https://unsplash.com/s/photos/senior-citizens?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   -->
  <p>NEW SENIOR CITIZENS ARE ALWAYS WELCOME</p>
</app-top-banner>
<p>seniors-layout works!</p>
