<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="img-fluid">
        <img
          src="../../../assets/images/seniors.png"
          alt="a parent holding a childs hand"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h3>Senior Citizens</h3>
        <h4>
          Senior Citizens Committee offer a day care service every Tuesday.
        </h4>
        <p>
          New Senior Citizens are always welcome to join. Please contact us if
          you have any questions regarding the Senior Citizens service. Those
          who attend can enjoy a nutritious meal prepared on site by a qualified
          chef. We also provide the option of taking home a meal for the
          following day. Participants can engage in a programme of stimulating
          activities. Hairdressing and chiropody services are available at the
          Centre. Our senior citizens can look forward to planned social outings
          with their peers.
        </p>
        <div class="button-container">
          <button class="btn-custom-primary" (click)="toSeniors()">
            Seniors
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
