<div class="container">
  <div class="row">
    <div class="col-md-4">
      <i class="bi bi-telephone"></i>
      <h2>Call Us</h2>
      <p>
        <b>Office: </b> <a href="tel:0667199999">0667199999</a>
        <br />
        <b>Manager: </b> <a href="tel:0667199998">0667199998</a>
        <br />
        <b>Bookings: </b> <a href="tel:0667199997">0667199997</a>
      </p>
    </div>
    <div class="col-md-4">
      <i class="bi bi-envelope"></i>
      <h2>Email</h2>
      <p>
        <b>Bookings/Enquiries: </b>
        <a href="mailto:manager@fakefrc.ie">manager@fakefrc.ie</a>
        <br />
        <b>Accounts/Admin: </b>
        <a href="mailto:office@fakefrc.ie">office@fakefrc.ie</a>
      </p>
    </div>
    <div class="col-md-4">
      <i class="bi bi-geo-alt"></i>
      <h2>Location</h2>
      <p>
        Fake Family Resource Centre
        <br />
        Ballyheigue, Co.Kerry, V00 H0PE
      </p>
    </div>
  </div>
</div>
