@import "../../../styles/styles.scss";

i {
  font-size: 100px;
  color: $color-blue;
}

.col-md-4 {
  text-align: center;
}

b {
  color: $color-blue;
}

a {
  color: $color-grey;
  text-decoration: none;
}

a:hover {
  color: $color-lightgreen;
  //   font-weight: 600;
  text-decoration: underline;
}
