<div class="container-fluid">
  <h1>{{ facility.name }}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img
        src="../../../assets/images/{{ facility.image }}.jpg"
        alt="{{ facility.name }}"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Description</h3>
      <p>
        {{ facility.description }}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>{{ facility.name }} Info</h3>
      <p>Duration: {{ facility.duration }}</p>
      <p>Capacity: {{ facility.capacity }}</p>
      <p>Price: {{ facility.price }}</p>
    </div>
  </div>
</div>

<app-info-banner>
  <p>
    For bookings please contact the {{ facility.name }} Manager on Tel: 087
    1234567 or Office Manager on Tel: 066 7199999
  </p>
  <h4>{{ facility.name }}</h4>
  <h2>
    {{ facility.name }} opening hours are 8am to 5pm, Contact us at any time to
    book your slot.
  </h2>
</app-info-banner>
