<div class="container">
  <div class="row">
    <div class="col">
      <p>
        <ng-content select="p"></ng-content>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col blue-break"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>
        <ng-content select="h4"></ng-content>
      </h4>
    </div>
    <div class="col-md-9">
      <h2>
        <ng-content select="h2"></ng-content>
      </h2>
    </div>
  </div>
</div>
