@import "../helpers/variables";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: $color-white;
  color: $color-darkgreen;
  line-height: 1.8;
}

.container {
  margin: 5% auto;
}

html {
  font-size: 62.5%;
}

p,
li,
th,
td {
  font-size: 1.8rem;
  letter-spacing: 1.1px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 2rem;
}

.container {
  margin-bottom: 10rem;
}
